.health_hp {
  position: absolute;
  width: calc(100% - 95px);
  min-height: 100%;
  background: #fff;
  left: 95px;
}

.main_text {
  font-size: 46px;
  text-align: center;
  margin-bottom: 55px;
}
.section_tb {
  margin-bottom: 60px;
}
.mini_name {
  float: left;
}
.mini_nwarp {
  overflow: hidden;
  margin-bottom: 18px;
}
@media (max-width: 1580px) {
  .fR {
    float: left;
    margin-top: 5%;
    width: 100% !important;
  }
  .fL {
    float: left;
    margin-top: 5%;
    width: 100% !important;
  }
}
.tb1 {
  width: 100%;
  border-top: 1px solid #003c97;
  border-bottom: 1px solid #003c97;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.tb_in_list .fR {
  width: 46%;
}
.fR {
  float: right;
}
.tb1 th {
  background: #ecf1fc;
}
#boredline {
  border-top: 1px solid #bcc4d4;
}
.imp_txt_box {
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  background-color: #ececec;
  color: #333333;
  border: 0px solid #ffffff;
  border-radius: 5px;
  padding: 0px 18px;
  margin-top: 3px;
  margin-bottom: 10px;
  line-height: 2;
}
.tb1 .d_list li.last {
  margin-bottom: 15px;
}
.d_list li {
  position: relative;
  padding-left: 13px;
  line-height: 1.4;
}
.tb_in_list .fL {
  width: 50%;
}
.fL {
  float: left;
}
.tb1 td {
  padding: 25px 20px 25px 30px;
}
.fullwarp {
  margin: 0 40px 0 40px;
  padding: 25px 180px 0;
}
.mini_name {
  font-size: 26px;
  color: #003c97;
  font-family: "NotoSansCJKkr-medium";
  letter-spacing: -0.05em;
}

.tb_ty2_wp {
  overflow: hidden;
  width: 100%;
}
.tb_ty2_wp .tb_ty2 {
  width: 670px;
}
.tx_c1_2 {
  color: #7f7059;
  font-size: 15px;
}
.tb_ty2 tbody th,
.tb_ty2 td {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  background: url(/img/bg_tb_td.gif) repeat-y;
}
.tb_ty2 .agL {
  text-align: left;
  padding-left: 25px;
}
.s_map2 .tb_ty2 tbody th,
.tb_ty2 td {
  padding: 10px 0;
}
.tb_ty2 td {
  text-align: center;
  letter-spacing: -0.02rem;
}
.tb_ty2 tbody th,
.tb_ty2 td {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  background: url(/img/bg_tb_td.gif) repeat-y;
}
.detail_q {
  position: relative;
}

.tb_btm_tx {
  text-align: right;
  color: #777;
  font-size: 16px;
  margin-top: 15px;
}
.custom_td_2 {
  text-align: right !important;
  padding-right: 32.5px !important;
}
.tx_c1 {
  color: #7f7059;
  font-size: 20px;
}
.tb_ty2 {
  width: 100%;
}
.tb_ty2 tbody {
  border: 1px solid #ddd;
}

.tb_ty2 thead th {
  padding: 10px 0;
  background: #ecf1fc url(/img/bg_tb_th.gif) repeat-y;
  font-family: "NotoSansCJKkr-medium", arial;
}
.tb_ty2 tbody th,
.tb_ty2 td {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  background: url(/img/bg_tb_td.gif) repeat-y;
}
.tb_ty2 tbody th,
.tb_ty2 td {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  background: url(/img/bg_tb_td.gif) repeat-y;
}
.tb_ty2 {
  border-collapse: separate;
  background: url(/img/bg_tb_td.gif) repeat-y 100% 0;
}
.detail_q .btn_q {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
}

.btn_q {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(/img/icons.png) no-repeat -60px -110px;
  font-size: 0;
}

.rebt {
  width: 200px;
  height: 100px;
  border: none;
  background-color: #3b4fb6;
  font-size: large;
  color: #fff;
}

.btn_warp {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
