body, ul,
li{
  margin: 0;
  padding: 0;
}

#header {
  width: 95px;
  height: 100%;
  position: fixed;
  z-index: 99;
  border-right: 1px solid #000;

}
.on{
    opacity: 1; 
    visibility: visible; 
}
.exm1 {
  width: 100%;
  height: 107px;
  
  z-index: 100;
  
}
.hover1{
  text-align: center;
}
#header.on:before {
    opacity: 1;
    visibility: visible;
}
#header:before {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 96px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition-duration: 0.4s;
  opacity: 0;
  visibility: hidden;
 
  content: '';
  z-index: 99;
}


ul,  li {
  list-style: none;
  
}
.test1 {
  position: absolute;
  width: 308px;
  top: 0;
  bottom: 0;
  left: 95px;
  background: rgba(243, 245, 255, 0.97);
  z-index: 103;
  display: none;
  padding: 35px 28px;
  box-sizing: border-box;
  
}


.headernav .exm1 > a{
  display: block;
  text-align: center;
  font-size: 14px;
  /* line-height: 20px; */
  /* position: relative; */
  padding: 53px 0 0;
  
}

.exm1:hover {
  background-color: rgba(243, 245, 255, 0.97);
  transition: 0.1s;
}
.exm1:hover .test1 {
  display: block;
}

/* 햄버거 반응 */


.allopen {
  width: 100%;
  height: 96px;
  border-bottom: 1px solid #000;
  margin: auto;
}

#xwith {
  top: 25%;
  margin: auto;

}

input[id="hamburger"] {
  display: none;
}

input[id="hamburger"]+label {
  display: block;
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

input[id="hamburger"]+label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: #000;
  transition: all 0.35s;
}

input[id="hamburger"]+label span:nth-child(1) {
  top: 0;
}

input[id="hamburger"]+label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

input[id="hamburger"]+label span:nth-child(3) {
  bottom: 0;
}

input[id="hamburger"]:hover+label {
  z-index: 99;
}

input[id="hamburger"]:hover+label span {
  background: black;
}

input[id="hamburger"]:hover+label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

input[id="hamburger"]:hover+label span:nth-child(2) {
  opacity: 0;
}

input[id="hamburger"]:hover+label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
