body,
ul,
li {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SBAggroL", sans-serif;
}
.none {
  display: none;
}
.page_loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19999;
  width: 100%;
  height: 100%;
  background: #212529;
  text-align: center;
}
.loader_txt {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 35%;
}
.page_loader h6 {
  margin: 15px 0 30px 0;
  font-size: 25px;
  color: #fff;
  font-weight: 400;
}
.page_loader span {
  color: #8bd1e3;
}
.loading_txt span {
  margin: 0;
  color: #8bd1e3;
  font-size: 50px;
  font-family: "SBAggroB";
  display: inline-block;
  margin: 0 -0.05em;
  animation: loading_txt 0.9s infinite;
}
.loading_txt span:nth-child(2) {
  animation-delay: 0.1s;
}
/* --- 페이지 로더 --- */

.page_loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19999;
  width: 100%;
  height: 100%;
  background: #212529;
  text-align: center;
}
.loader_txt {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 35%;
}
.page_loader h6 {
  margin: 15px 0 30px 0;
  font-size: 25px;
  color: #fff;
  font-weight: 400;
}
.page_loader span {
  color: #8bd1e3;
}
.loading_txt span {
  margin: 0;
  color: #8bd1e3;
  font-size: 50px;
  font-family: "SBAggroB";
  display: inline-block;
  margin: 0 -0.05em;
  animation: loading_txt 0.9s infinite;
}
.loading_txt span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading_txt span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading_txt span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading_txt span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading_txt span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading_txt span:nth-child(7) {
  animation-delay: 0.6s;
}
.loading_txt span:nth-child(8) {
  animation-delay: 0.7s;
}
.loading_txt span:nth-child(9) {
  animation-delay: 0.8s;
}
.loading_txt span:nth-child(10) {
  animation-delay: 0.9s;
}
.loading_txt span:nth-child(11) {
  animation-delay: 0.1s;
}
.loading_txt span:nth-child(12) {
  animation-delay: 0.11s;
}
.loading_txt span:nth-child(13) {
  animation-delay: 0.12s;
}
@keyframes loading_txt {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
@media (max-width: 1580px) {
}

a {
  text-decoration: none;
}
.text1 {
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 0 25px;
}
.sub_text {
  margin: 15px 0 0 0;
}

.sub_text > li {
  line-height: 60px;
  margin: 0 0 0 25px;
  font-size: 17px;

  border-bottom: dashed 1px gray;
}
.sub_text > li a {
  color: #000;
  display: block;
  padding-left: 1.5rem;
}
#header {
  width: 95px;
  height: 100%;
  position: fixed;

  z-index: 99;
  border-right: 1px solid #000;
  background-color: #3b4fb6;
}
.on {
  opacity: 1;
  visibility: visible;
}
.exm1 {
  width: 100%;
  height: 107px;

  z-index: 100;
}
.hover1 {
  text-align: center;
  font-weight: 800;
  color: #fff;
}

#header.on:before {
  opacity: 1;
  visibility: visible;
}
#header:before {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 96px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition-duration: 0.4s;
  opacity: 0;
  visibility: hidden;
  content: "";
  z-index: 99;
}

ul,
li {
  list-style: none;
}
.test1 {
  position: absolute;
  width: 308px;
  top: 0;
  bottom: 0;
  left: 95px;
  background: rgba(243, 245, 255, 0.97);
  z-index: 103;
  display: none;
  padding: 35px 28px;
  box-sizing: border-box;
}

.headernav .exm1 > a {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 65px 0 0;
}

.cone {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: lightblue;
  margin: 5px 25px 0 20px;
  opacity: 0.5;
}

.onewarp {
  margin-top: 1rem;
  display: flex;
}
.onewarp > li {
  font-size: 17px;
  font-weight: 500;
}

.skipbtn {
  margin: 100px auto;
}

.skipbtn > span {
  font-size: 30px;
  width: 300px;
  padding: 10px 20px;
  text-align: center;
  background: #000000;
  border-radius: 10px;
}

.headerone {
  height: 100px;
  background: #fff;

  position: relative;
  background-color: green;
  top: 0;
}

.footer {
  position: relative;
  height: 100px;
  background: #fff;
  margin: 0;
  background-color: blue;
  bottom: 0;
}
/* .maintop {
  width: calc(100% - 95px);
  position: absolute;
  height: 600px;
  background: #fff;

  background-color: yellow;
} */
